[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
autopep8 = "*"

[packages]
numpy = "*"
pandas = "*"
twine = "*"
sklearn = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
